* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.no-scroll {
    overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1440px;
  width: 100%;
  background-color: lightblue;
  min-height: 100dvh;
}

.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.btn,
.header__btn {
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
}

.btn:hover,
.header__btn:hover {
  cursor: pointer;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main__game-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.card__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  max-width: 150px;
  width: 100%;
  min-width: 80px;
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: 1px solid lightcyan;
  border-radius: 20px;
}

.card:hover {
  cursor: pointer;
}

.card.active {
  background-color: white;
}

.card.completed {
  border: 1px solid green;
}

.card .card__image {
  visibility: hidden;
}

.card.active .card__image {
  visibility: visible;
}

.card__image {
  width: 64px;
  height: 64px;
}

.modal {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.modal.active {
  visibility: visible;
}

.modal__container {
  padding: 20px;
  max-width: 800px;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal__title {
  color: green;
  font-size: 30px;
  font-weight: 900;
  font-variant: small-caps;
}

.modal__content {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  font-variant: small-caps;
}

.modal__btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  text-align: center;
}
